@media (min-width:1400px) {
    .btn--menu {
        display: none;
    }
    
    .contenedor .cabecera {
        grid-column: 1/4;
        padding: 20px 10px;
    }
    .cabecera > .cabecera__nav {
        display: block;
        margin-right: 20px;
        width: 400px;
    }
    .cabecera__ul {
        display: flex;
        justify-content: space-between;
    }
    .cabecera__list {
        list-style: none;
        
    }
    .cabecera__enlace {
        text-decoration: none;
        color: #434242;
    }
    
    body > .contenedor {
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(3,minmax(300px,400px));
        grid-template-rows: auto repeat(3, minmax(150px,250px));
        column-gap: 30px;
        row-gap: 0px;
        margin: 0;
        align-content: center;
    }

    .principal {
        grid-area: 2/1/4/3;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .contenedor__img {
        grid-column: 1/3;
    }
    .contenedor__aside {
        margin: 0px;
        grid-row: 2/4;
    }
    .contenedor > .contenedor__footer {
        grid-column: 1/4;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        margin:0px;
        justify-items: start;
    }

}